* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #dfe9f5;
}
.container {
    display: flex;
}
nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 600px;
    left: 0;
    background: #fff;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
    text-align: center;
    display: flex;
}
a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 3px;
    font-size: 20px;
    text-align: center
}
.nav-item {
    position: relative;
    margin-left: -15px;
}
a:hover {
    background: #eee;
}
.nav-item-1 {
    position: relative;
    margin-left: -15px;
    background-color: red;
    padding: 10px 40px;
}
h1 {
    margin-left: 430px;
    margin-top: -550px;
}
.img-1 {
    margin-left: 450px;
    margin-top: 20px;
}
.box {
    height: 160px;
    width: 450px;
    background-color: white;
    margin-left: 350px; 
    margin-top: 30px;
    margin-bottom: 20px;
}
h2 {
    margin-left: 140px;
    padding-top: 10px;
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: 180px;
    border-radius: 5px;
    background-color: #FDC108;
}
.box-1 {
    height: 160px;
    width: 450px;
    background-color: white;
    margin-left: 350px; 
    margin-top: 30px;
    margin-bottom: 20px;
}
.che {
    margin-left: 170px;
    padding-top: 10px;
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: 180px;
    border-radius: 5px;
    background-color: #FDC108;
}
.box-2 {
    height: 340px;
    width: 450px;
    background-color: white;
    margin-left: 850px; 
    margin-top: -370px;
    margin-bottom: 20px;
}
button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: -80px;
    background-color: #FDC108;
    border-radius: 5px;
}
h3 {
    margin-left: 40px;
    margin-top: -20px;
}
.box-3 {
    height: 260px;
    width: 450px;
    background-color: white;
    margin-left: 570px; 
    margin-top: 70px;
    margin-bottom: 20px;
}
.Class {
    padding: 20px;
    font-size: 20px;
}
.wel {
    margin-top: 30px;
    margin-left: 100px;
    font-size: 35px;
}
.box-4 {
    height: 160px;
    width: 450px;
    background-color: white;
    margin-left: 850px; 
    margin-top: -190px;
    margin-bottom: 20px;
}